* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}

nav .right {
    padding-left: 80%;
    padding-top: 20px;
    list-style: none;
}
/* Hyperlink ka style hatane ka code */

nav .right a {
    text-decoration: none;
    color: inherit;
    margin-right: 10px; /* Links ke beech horizontal gap */
}
nav .right a:last-child {
    margin-right: 0; /* Last link ke baad gap nahi hoga */
}